{% extends 'base.html.twig' %}

{% block title %}{{ ecole.nomEtablissement }}{% endblock %}

{% block body %}
<header class="zak"><h1 class="text-center m-0">{{ ecole.nomEtablissement }}</h1></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-6" id="bloc-image">
            <img src="{{ asset('/upload/images/'~ ecole.image )}}" alt="" class="">
        </div>
        
        <div class="col-6 text-center" id="bloc-login">

            <form method="post">
                <div class="form-group">
                    <!-- <label for="inputUsername">Username</label>
                    <input type="text" name="username" id="inputUsername" class="form-control"
                        required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                        <input type="hidden" name="_csrf_token" value="{#{{ csrf_token('authenticate') }}#}">
                    </div> -->

                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% endif %}

                    <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                        class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me
                    functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                    <div class="mt-3">
                        <button class="btn btn-dark mr-2" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
